:root {
  --homeColor: #96ceb4;
  --searchColor: #ff6f69;
  --logoutColor: #88d8b0;
  --fourthColor: #f5e553;
  --fifth-color: #5ecaf9;
  --sixth-color: #12b388;
  --font-color: #ffeead;
}

/* Question1 style key */

html,
body {
  background-color: #f6dc7d;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  /* height: 250% */
}

body > section {
  margin-bottom: 4rem;
}

p {
  font-weight: bold;
}

.home {
  background-color: var(--homeColor);
}

.search {
  background: var(--searchColor);
}

.logout {
  background: var(--logoutColor);
}

.fourthEl {
  background: var(--fourthColor);
}

.question > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: var(--font-color);
}

/* Question2 style key */
/* See above */

/* Question3 style key */
/* See above */

/* Question4 style key */
/* See above */

/* Question5 style key */
/* See above */

/* Question6 style key */
/* See above */

/* Question7 has no style */

/* Question8 style key */
/* See above */

.question8 > div:nth-child(5) {
  background-color: var(--fifth-color);
}

.question8 > div:nth-child(6) {
  background-color: var(--sixth-color);
}

/* Question9 style key */
/* See above */

/* Question10 style key */
/* See above */

/* Question11 style key */
.question11 > header,
.question11 > footer {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: var(--font-color);
}

.question11 > aside {
  padding: 10px;
  text-align: left;
  font-size: 2em;
  color: var(--font-color);
}

.question11 > main {
  padding: 10px;
  text-align: auto;
  font-size: 2em;
  color: var(--font-color);
}

.question11 > main:nth-child(3) {
  background-color: #3c96d7;
}
